<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Log In</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../Static/css/main.css">
  </head>
  <body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
      <div class="wrapper wrapper--w780">
        <div class="card card-3" style="height: 580px">
          <div class="card-heading"></div>
          <div class="card-body">
            <h2 class="title">
              Login
            </h2>
            <form action="" method="POST">
              
              <div class="input-group">
                <input type="email" name="email" class="input--style-3" placeholder="Email ID" />
              </div>
              <div class="input-group">
                <input type="password" name="password" class="input--style-3" placeholder="Password" />
              </div>
              
              <div class="p-t-10">
                <button class="btn btn--pill btn--green" type="submit">
                  Log In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../Static/script/jquery.js"></script>
  </body>
</html>
